head
    title Travel ka.com - Situs Pencarian Kereta Api
    link(rel='stylesheet', href='/static/css/styles.css', type='text/css')
    meta(name="viewport" content="width=device-width, initial-scale=1")